html {
  font-family: "Concourse", "Helvetica", "Arial", sans-serif;
  line-height: 1.37;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

main {
  box-sizing: border-box;
  height: 80vh;
  margin: 0 auto;
  max-width: 30rem;
  padding: 1rem;
}

h1 {
  margin: 0 0 1rem 0;
  padding: 0;
}

form {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

textarea, button {
  display: block;
}

textarea {
  flex: 1;
  overflow-y: scroll;
}

button {
  background: white;
  border: 1px solid black;
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: 1rem;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
